<div class="flex flex-col md:flex-row gap-4">
  <div class="flex-1 w-[70vw] mx-auto md:w-20 bg-gray-200 p-6">
    <div class="mb-2">
      <span class="block text-gray-700 font-bold mb-1">Options:</span>
      <button (click)="generateMap()"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2 w-full my-1">Empty</button>
      <button (click)="generateMap(true)"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2 w-full my-1">Random</button>
      <button (click)="addFigure(1)"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded mr-2 w-full my-1">Butterfly</button>
      <button (click)="addFigure(0)"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded w-full my-1">Canyon</button>
    </div>
    <div class="flex justify-center">
      <button [disabled]="isRunning"
        class="w-1/2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"
        (click)="start()">Start</button>
      <button [disabled]="!isRunning" class="w-1/2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        (click)="stop()">Stop</button>
    </div>
  </div>
  <div class="flex-1">
    <canvas width="1000" class="cursor-pointer m-auto w-[80vw] h-[50vw] md:w-[62vw] md:h-[35vw] border border-black" #canvas height="600"></canvas>
  </div>
</div>
