<div class="flex flex-col md:flex-row gap-4">
  <div class="flex-1 w-[70vw] mx-auto md:w-20 bg-gray-200 p-6">
    <div class="mb-2">
      <label for="pixels" class="block text-gray-700 font-bold mb-1">Pixel size:</label>
      <input type="number" min="1" [(ngModel)]="pixels" (ngModelChange)="pixels = $event" id="pixels"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
    </div>
    <div class="mb-2">
      <label for="cantColors" class="block text-gray-700 font-bold mb-1">Number of colors:</label>
      <input type="number" min="1" [(ngModel)]="cantColors" (ngModelChange)="cantColors = $event" [max]="colors.length"
        id="cantColors"
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
    </div>
    <div>
      <button (click)="generateColorsMap();"
        class="bg-blue-500 hover:bg-blue-700 w-full text-white font-bold py-2 px-4 rounded">
        Assign and randomize</button>
    </div>
    <div class="flex py-2">
      <button [disabled]="isRunning" class="w-1/2 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mr-2"
        (click)="start()">Start</button>
      <button [disabled]="!isRunning" class="w-1/2 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        (click)="stop()">Stop</button>
    </div>
  </div>
  <div class="flex-1">
    <canvas width="1000" class="m-auto w-[80vw] h-[50vw] md:w-[62vw] md:h-[35vw] border border-black" #canvas height="600"></canvas>
  </div>
</div>
